<h2>All users</h2>

<!-- to show all users I need the users variable set on controller, to become an empty array -->
<!-- this empty array will loop throgh each individual user, listing all users -->
<% @users.each do |user| %>

<!-- list all users and emails within a p tag -->
<p>
  <%= user.username %> (<%= user.email %>)
</p>

<% end %>
