<h3> Edit your restaurante review! </h3>

<!-- We are keeping new and edit form templates under partial _form file -->
<!-- render code from partial file from there to here   -->
<%= render "form" %>
